<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <!-- wrapper -->
        <div class="main-wrapper">
            <div class="app-container">
                
                <!-- sidebar -->
                <aside id="sidebar">
                        <!-- user-section -->
                        <div class="user-bar">
                            <div class="contact-user-container">
                                <div class="contact-user-icon">
                                    <img src="img/avatar_io.jpg" alt="io">
                                </div>
                                <div class="contact-user-description">
                                    <h4>Marco</h4>
                                </div>
                            </div>
                            <div class="setting-icons icon-color1">
                                <span><i class="fa-solid fa-circle-notch"></i></span>
                                <span><i class="fa-solid fa-message"></i></span>
                                <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                            </div>
                        </div>
                        
                        <!-- alert notification -->
                        <div class="mute-alerts">
                            <div class="contact-user-container">
                                <div class="contact-user-icon">
                                    <span><i class="fa-solid fa-bell-slash"></i></span>
                                </div>
                                <div class="contact-user-description">
                                    <p><strong>Ricevi notifiche di nuovi messaggi</strong></p>
                                    <p class="font-color-1">Attiva notifica desktop</p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- sidebar contacts -->
                        <div class="sidebar-contacts">
                            <!-- search input -->
                            <div class="search-container">
                                <div class="icon-color1">
                                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                                </div>
                                <label for="search-contacts"></label>
                                <input type="text" id="search-contacts" placeholder="cerca contatti" v-model="searchResult">
                            </div>
                            <!-- contact -->
                            <div class="contacts">
                                <div>
                                    <div class="contact-card" v-for="(contact, contactIndex) in contacts" @click="currentPosition(contactIndex)" :class="(messagePosition === contactIndex) ? 'contact-card-selected' : ''">
                                        <div class="contact-icon">
                                            <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                                        </div>
                                        <div class="contact-description">
                                            <h4>{{contact.name}}</h4>
                                            <!-- prova -->
                                            <p class="font-color-2">{{contacts[messagePosition].messages[contacts[messagePosition].messages.length - 1].message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </aside>
                
                <!-- main -->
                <main id="messages-section">
                    
                        <!-- contact bar -->
                        <div class="contact-bar">
                            <div class="contact-user-container">
                                <div class="contact-user-icon">
                                    <img :src="`img/avatar${contacts[messagePosition].avatar}.jpg`" alt="">
                                </div>
                                <div class="contact-user-description">
                                    <h4>{{contacts[messagePosition].name}}</h4>
                                    <p class="font-color-1"></p>
                                </div>
                            </div>
                            <div class="setting-icons icon-color1">
                                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                                <span><i class="fa-solid fa-paperclip"></i></span>
                                <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                            </div>
                        </div>
                        <!-- message board -->
                        <div class="message-board">
                            <div class="message-row" v-for="(messageElement, messageIndex) in contacts[messagePosition].messages">
                                <div class="message" :class="(messageElement.status === 'received') ? 'message-received' : 'message-sent'">
                                    <p>{{messageElement.message}}</p>
                                    <p class="message-time">10:20</p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- message writer -->
                        <div class="message-writer">
                            <div class="write-icon">
                                <span><i class="fa-regular fa-face-smile"></i></span>
                            </div>
                            <div class="writer-container">
                                <label for="write-message"></label>
                                <input type="text" id="write-message " placeholder="Scrivi messaggio..." v-model.trim="newMessageSent.message" @keyup.enter="sendMessage">
                            </div>
                            <div class="write-icon">
                                <span><i class="fa-solid fa-microphone"></i></span>
                            </div>
                        </div>
                    
                </main>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>